@using System.Collections.Generic
@using System.Linq
@using Digitalisert.Dataplattform.Studio.Models
@model IEnumerable<ResourceModel.Resource>

@{
    string resourceSearch = ViewBag.ResourceSearch ?? "";
    IEnumerable<ResourceModel.Resource> resourcecurrent = ViewBag.ResourceCurrent ?? new ResourceModel.Resource[] {};
}

@if (Model.Any())
{
    var crumbs = Model.Select((resource, i) => new { resource, i }).SelectMany(r =>
        (
            (new[] { r.resource.Context ?? "" }).Where(t => t != "").Select(t => new { Name = "Context", cssClass = "is-primary", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Type ?? new string[] { }).Select(t => new { Name = "Type", cssClass = "is-link", Value = t, Index = r.i } )
        ).Union(
            (r.resource.SubType ?? new string[] { }).Select(t => new { Name = "SubType", cssClass = "is-info", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Tags ?? new string[] { }).Select(t => new { Name = "Tags", cssClass = "", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Status?? new string[] { }).Select(t => new { Name = "Status", cssClass = "", Value = t, Index = r.i } )
        ));

    var search = (resourceSearch != "") ? new[] { "search=" + resourceSearch } : new string[] { };

    <nav class="breadcrumb box mt-1" aria-label="breadcrumbs">
        @foreach(var resource in Model.Select((r, i) => new { r, i }))
        {
            <ul>
                <li>
                    <a class="button is-outlined is-small mr-1" href="/Studio/Resource/">
                        <button class="delete ml-2"></button>
                    </a>
                </li>
                @foreach(var crumb in crumbs.Where(c => c.Index == resource.i).Select((c, i) => new { c, i }))
                {
                    var query = String.Join("&", crumbs.Where(c => c.Index == resource.i).Take(crumb.i + 1).Select(c => "resources[0]." + c.Name + "=" + c.Value).Union(search));
                    var except = String.Join("&", crumbs.Where(c => !(c.Index == crumb.c.Index && c.Name == crumb.c.Name && c.Value == crumb.c.Value)).Select(c => "resources[" + c.Index + "]." + c.Name + "=" + c.Value).Union(search));
                    <li>
                        @if (!crumb.c.Value.StartsWith("!"))
                        {
                            var not = except + "&resources[" + crumb.c.Index + "]." + crumb.c.Name + "=!" + crumb.c.Value;
                            <div class="buttons has-addons are-small ml-1 mr-1">
                                <a class="button @crumb.c.cssClass" href="?@query">@crumb.c.Value</a>
                                <a class="button" href="?@not">!</a>
                                <a class="button" href="?@except">
                                    <button class="delete is-small"></button>
                                </a>
                            </div>
                        }
                        else
                        {
                            var notnot = except + "&resources[" + crumb.c.Index + "]." + crumb.c.Name + "=" + crumb.c.Value.Substring(1);
                            <div class="buttons has-addons are-small ml-1 mr-1">
                                <a class="button @crumb.c.cssClass" href="?@query"><del>@crumb.c.Value.Substring(1)</del></a>
                                <a class="button is-active" href="?@notnot">!</a>
                                <a class="button" href="?@except">
                                    <button class="delete is-small"></button>
                                </a>
                            </div>
                        }
                    </li>
                }
                @if (resourceSearch != "")
                {
                    var except = String.Join("&", crumbs.Select(c => "resources[" + c.Index + "]." + c.Name + "=" + c.Value));
                    <li>@resourceSearch <a href="?@except">x</a></li>
                }
            </ul>
        }
    </nav>
    @foreach (var resource in resourcecurrent)
    {
        var except = String.Join("&", crumbs.Select(c => "resources[" + c.Index + "]." + c.Name + "=" + c.Value).Union(search));
        <div class="box">
            <a href="/Studio/Resource/@(resource.Context)/@(resource.ResourceId)" class="h4">
                <small>@resource.Code?.FirstOrDefault()</small>
                @resource.Title?.FirstOrDefault()
                @if (resource.SubTitle.Any())
                {
                    <small>@resource.SubTitle.FirstOrDefault()</small>
                }
            </a>
            <a href="/Studio/Resource?@except">x</a>
        </div>
    }
}
