@using System.Collections.Generic
@using System.Linq
@using Digitalisert.Dataplattform.Studio.Models
@model IEnumerable<ResourceModel.Resource>

@{
    string resourceSearch = ViewBag.ResourceSearch ?? "";

    var parameters = Model.Select((resource, i) => new { resource, i }).SelectMany(r =>
        (
            (new[] { r.resource.Context ?? "" }).Where(t => t != "").Select(t => new { Name = "Context", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Type ?? new string[] { }).Select(t => new { Name = "Type", Value = t, Index = r.i } )
        ).Union(
            (r.resource.SubType ?? new string[] { }).Select(t => new { Name = "SubType", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Tags ?? new string[] { }).Select(t => new { Name = "Tags", Value = t, Index = r.i } )
        ).Union(
            (r.resource.Status?? new string[] { }).Select(t => new { Name = "Status", Value = t, Index = r.i } )
        )
    );

    var search = (resourceSearch != "") ? new[] { "search=" + resourceSearch } : new string[] { };
}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Digitalisert</li>

      @foreach (var facet in (Dictionary<string, Raven.Client.Documents.Queries.Facets.FacetResult>)ViewBag.ResourceFacet)
      {
        var name = (facet.Value.Name == "Properties") ? "Properties[0].Name" : facet.Value.Name;
        <li>
          <a href="#">
            @facet.Value.Name
          </a>
          <ul class="menu vertial">
            @foreach(var valueG in facet.Value.Values.Where(v => v.Range.Contains(":")).GroupBy(v => v.Range.Substring(0, v.Range.IndexOf(":"))))
            {
              <li>
                <a href="#">
                  @valueG.Key
                </a>
                <ul class="menu">
                  @foreach (var value in valueG.OrderBy(v => v.Range))
                  {
                    var query = String.Join("&", parameters.Select(p => "resources[" + p.Index + "]." + p.Name + "=" + p.Value).Union(new[] { "resources[0]." + name + "=" + value.Range } ).Union(search));
                    <li>
                      <a href="?@query">
                        @value.Range.Substring(valueG.Key.Length + 1)
                        <span class="badge secondary">@value.Count</span>
                      </a>
                    </li>
                  }
                </ul>
              </li>
            }
            @foreach(var value in facet.Value.Values.Where(v => !v.Range.Contains(":")).OrderBy(v => v.Range))
            {
              var query = String.Join("&", parameters.Select(p => "resources[" + p.Index + "]." + p.Name + "=" + p.Value).Union(new[] { "resources[0]." + name + "=" + value.Range } ).Union(search));
              <li>
                <a href="?@query">
                  @value.Range
                  <span class="badge secondary">@value.Count</span>
                </a>
              </li>
            }
          </ul>
        </li>
      }
    </ul>
  </div>
  <form class="top-bar-right" action="/Studio/Resource">
    @foreach (var parameter in parameters)
    {
        <input type="hidden" name="resources[@parameter.Index].@parameter.Name" value="@parameter.Value" />
    }

    <ul class="menu">
      <li><input type="search" name="search" placeholder="Search..." value="@resourceSearch"></li>
      <li><button type="submit" class="button">Search</button></li>
    </ul>
  </form>
</div>
